*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: aliceblue;
}

/*==================
  Header part start
 ====================*/
.header{
    background: #2D25A0;
    height: 90vh;
    display: flex;
    padding: 5%;
    align-items: center;
    transition-duration: .5s;
}
.header-title{
    margin-left: 5%;
}
.header h1{
    color: white;
    font-size: 50px;
    margin-bottom: 2%;

}
.header-btn{
    background: #E02C6D;
    padding: 10px 25px;
    border: none;
}
.header-btn a{
    text-decoration: none;
    color: white;
}
.right-arrow{
    padding-left:5px;
}
.half-header{
    width: 40%;
    padding-left: 5%;
}
.header-img img{
    width: 80%;
}
/*header hover part*/
.header:hover {
    background-color: #a31a7a;
    transform:rotate(360deg) ;
}

.header:hover .header-btn{
    background-color:#2D25A0;
}
/*==================
  Header part end
 ====================*/

 /*========================
  Players details part start
 ==========================*/
 
.players{
     display: grid;
     grid-template-columns: repeat(3,1fr);
     gap: 5%; 
     margin:5% 10%;
     margin-bottom: 30%;
 }
 .player{
     box-shadow: 10px 10px 40px rgb(204, 195, 195);
     border-radius: 10px;
     height: 75vh;
    
 }
 .player-img img{
     width: 90%;
     padding: 5%;
 }
 .player-description{
     padding-left: 3%;
 }
 .player-description h2{
     text-align: justify;
     margin-bottom: 5%;
     
 }
 .player-description p{
    color: rgb(105, 103, 103);
 }
 /*========================
  Players details part end
 ==========================*/

.match-news{
    height: 90vh;
    margin-left: 10%;
    margin-bottom: 15%;
}
.match-news h1{
    font-size: 50px;
    color: #a31a7a;
}

.match img{
    width: 300px;
    
}
 .match{
     display: flex;
     margin-top: 3%;
 }
.match-info{
    margin:5%;
}
.match-info a{
    text-decoration: none;
    color: red;

}
.match-info p:first-child{
    padding-bottom: 2%;
    margin-top:-5%;
    margin-bottom: 3%;
}
.match-info p:last-child{
    color: rgb(105, 103, 103);
}
.match-info h2{
    text-transform: uppercase;
    margin-bottom: 5%;
    color: rgb(53, 50, 50);
}
.match-info h2:hover{
    color: red;
}

/*logo part*/
.logo{
    height: 120px;
}
.logo img{
    width:25%;
    display: block;
    margin: 0 auto;
}



.media-icon{
    height:15vh;
    text-align: center;
    
}
.media-icon span{
    padding-left: 10px;
}

.fa-brands, .fa-solid{
    padding: 10px;
    font-size: 20px;
    background-color: rgb(177, 174, 174);
    border-radius: 50%;
}
/*footer part*/
.footer{
    height: 10vh;
}
.footer p{
    text-align: center;
    margin-left: 2%;
}