*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: aliceblue;
}

/*==================
  Header part start
 ====================*/
.header{
    background: #2D25A0;
    height: 90vh;
    display: flex;
    padding: 5%;
    align-items: center;
    transition-duration: 1.5s;
}
.header-title{
    margin-left: 5%;
}
.header h1{
    color: white;
    font-size: 50px;
    margin-bottom: 2%;

}
.header-btn{
    background: #E02C6D;
    padding: 10px 25px;
    border: none;
}
.header-btn a{
    text-decoration: none;
    color: white;
}
.right-arrow{
    padding-left:5px;
}
.half-header{
    width: 40%;
    padding-left: 5%;
}
.header-img img{
    width: 80%;
}

/*header hover part*/
.header:hover{
    background-color: #a31a7a;
    transform:rotate(360deg) ;
}
.header-btn:hover{
    background-color:#2D25A0;

}
/*==================
  Header part end
 ====================*/

 /*========================
  Players details part start
 ==========================*/
.players{
     display: grid;
     grid-template-columns: repeat(3,1fr);
     gap: 5%; 
     margin:5% 10%;
 }
 .player{
     margin-bottom: 5%;
     box-shadow: 10px 10px 40px rgb(204, 195, 195);
     border-radius: 10px;
    
 }
 .player-img img{
     width: 90%;
     padding: 5%;
 }
 .player-description{
     padding-left: 3%;
     padding-bottom: 10%;
 }
 .player-description h2{
     text-align: justify;
     margin-bottom: 5%;
     
 }
 .player-description p{
    color: rgb(105, 103, 103);
 }
 /*========================
  Players details part end
 ==========================*/